@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

/* Main Structure */
html{
    scroll-behavior: smooth;
}
body
{

    margin: 0;
    padding: 0;
    height: 100vh;
    background: #060a0c;
    font-family: Montserrat;
}

#particles-js
{
	position: relative;
	width: 100%;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}


/* Center Caption */
#caption-container
{
    top: 37%;
    width: 100%;
    position: absolute;
    letter-spacing: .2rem;
}

#cta-H1
{
    font-weight: bold;
}

#cta-H3
{
    font-weight: lighter;
}

.btn-lg
{
    border-width: medium;
    border-radius: 0;
    font-size: 1.1rem;
    padding: .6rem 1.3rem;
    margin: 1rem;
}

.btn:hover
{
    background: #ec7b13;
    border: solid #ec7b13 3px;
}


/* Middle Content / Intro */

.jumbotron
{
    margin-bottom: 0;
    width: 100%;
    text-align: center;
    background: white;
    color: #0b1d26 !important;
    border-bottom: solid .3rem #ec7b13;

}



.jumbotron p
{
    font-weight: lighter;
}

.navbar
{
    background: #0b1d26;
    border-bottom: #ec7b13 solid .3rem;
}

.navbar a
{
    text-decoration: none;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 1.3rem;
}

.navbar a:hover
{
    color: #ec7b13;
    transition: .3s;
}

h4 {
    font-weight: 600;
    letter-spacing: .1rem;

}

.divider
{
    border: solid 1px #0b1d26;
    border-radius: 1em;
    width: 25%;
    
}

#aboutTitle
{
    font-weight: bold;

}

.techs
{
    color: #ec7b13;
    font-size: 8rem;
    padding: 3rem;
}

.technologies
{
    margin: 4rem;
}

.info
{
    letter-spacing: .2rem;
    font-size: 3rem;
    font-weight: 600;
}

/*--- Fixed Background Image --*/
figure
{
    position: relative;
    width: 100%;
    height: 95%;
    margin: 0!important;
}

.fixed-wrap
{
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#fixed
{
    background: #060a0c;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tiptrack {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.projectOne {
    background: rgb(216, 216, 216);
}



#tipHead {
    font-weight: 700;
    text-align: center;
    margin: 1.5rem;
}

.projectText {
    font-weight: 600 !;
}

.center-content {
    padding-bottom: 3rem;
}
/* Footer / Contact Form */
.form-group
{
    align-content: center;
    margin: .5rem;
    padding: 1.5rem;
}

input[type=text], input[type=email]
{
    text-align: center;
    padding: 15px;
    height: 4vh;
    margin-top: .2rem;
    background: #060a0c;
    width: 50%;
    border: none;
    color: white ;
}

textarea
{
    text-align: center;
    padding: 15px;
    margin-top: .2rem;
    background: #060a0c;
    border: none;
    width: 50%;
    box-sizing: border-box;
    color: white ;
}
 
.footer
{
    border-top: 3px solid #ec7b13;
    background: #0b1d26;
    color: white;
}

#contactCTA
{
    font-size: 4rem;
    padding-top: 3rem;
    text-align: center;
    font-weight: bolder;
}

.light
{
    background: white;
    border: solid 3px white;
    width: 10%;
}

#test
{
    display: block;
    text-align: center;
}

#questionCTA
{
    padding-top: 2rem;
    font-weight: 600;
    text-align: center;
    color: #ec7b13;
}

.socials
{

    background: #060a0c;
}


#submit
{
    align-items: flex-end;
    text-align: center;
}

#copy
{
    padding-left: 5px;
    color: #ec7b13
}

.middle-content
{
    margin-top: 3rem;
    padding-left: 4rem;
    font-size: 2rem;
    text-align: left;
    letter-spacing: .1rem;
    list-style-type: square;
}

.media
{
    color: #ec7b13;
    font-size: 1.75rem;
    margin: 1.5rem;
    padding: 1.5rem;
    background: #0b1114;
}

@media  only screen and (max-width: 812px) {



    .tiptrack {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        ". top ."
        ". bottom .";
    
    }

    .top {
        grid-area: top;
    }

    .bottom {
        grid-area: bottom;

    }

}